@import "Home.css";
.button_like_card{
    height: var(--h);
    width: var(--w);
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 15rem;
    border-radius: 25% 15%;
    border: 0;
    padding: 1%;
}

.button_like_card:hover{
 
 animation:  change-color 300ms ease-in forwards;
}

@keyframes change-color{
    100%{
        background-color: var(--tertiary_color);
    }
}