@import "../Root/Root.css";
.Home{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 7fr 1fr;
    /* min-width: 400px; */
    min-height: 700px; 
    
}



.Home-Container--1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Home-Container--1 > *{
    flex-grow: 1;
}
.Home-Container--2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.Home-Container--3{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}

.title{
    min-width: 200px;
    font-size: clamp(2rem, 5vw, 4rem)
    
}

